<main class="contenedor">
    <form action="/vacantes/editar/{{vacante.url}}" method="POST" class="default-form">
        <h3>Informacion General</h3>

        <div class="campo">
            <label for="titulo">Titulo</label>
            <input type="text" id="titulo" name="titulo" placeholder="Ej: React-Developer" value="{{vacante.titulo}}" required>
        </div>

        <div class="campo">
            <label for="empresa">Empresa</label>
            <input type="text" id="empresa" name="empresa" placeholder="Empresa contrata" value="{{vacante.empresa}}" required>
        </div>

        <div class="campo">
            <label for="ubicacion">Ubicacion</label>
            <input type="text" id="ubicacion" name="ubicacion" placeholder="Ej: Mexico o Remoto" value="{{vacante.ubicacion}}" required>
        </div>

        <div class="campo">
            <label for="salario">Salario(USD)</label>
            <input type="text" name="salario" id="salario" placeholder="Ej: 500usd" value={{vacante.salario}} required>
        </div>

        <div class="campo">
            <label for="contrato">Contrato</label>
            <select name="contrato" id="contrato">
                {{#tipoContrato vacante.contrato}}
                    <option value="" disabled selected>-- Selecciona --</option>
                    <option value="freelance">Freelance</option>
                    <option value="Tiempo completo">Tiempo completo</option>
                    <option value="Medio tiempo">Medio tiempo</option>
                    <option value="Por proyecto">Por proyecto</option>
                {{/tipoContrato}}
            </select>
        </div>

        <h3>Descripcion del puesto</h3>
            <div class="campo descripcion">
                <label for="descripcion">Descripcion</label>
                <textarea class="textarea" name="descripcion" id="descripcion">{{vacante.descripcion}}</textarea>
            </div>

        <h3>Conocimientos</h3>

        <ul class="lista-conocimientos">
            {{#seleccionarSkills vacante.skills}}
            {{/seleccionarSkills}}
        </ul>

        <div class="campo centrar-horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>

    </form>
</main>